

#home_section
{
    background-image:url("../pictures/bill.jpg");
    background-size:cover;
    height: 100%;
    -webkit-filter: grayscale(75%); /* Chrome, Safari, Opera */
    filter: grayscale(75%);

}

.centered
{
    text-align: center;
}

#home_title
{

}

#home_catchphrase
{

}