@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'MoonLight';
    src: url('../fonts/Moon Light.otf');
}



body
{
    font-family:OpenSansLight;
}


h1 
{
    font-family:MoonLight;
}

#screen
{
    width:90%;
}